extend layouts/main

block content
  .container
    h1.title Base gulp project
    .img-container
      img(src="./img/observatory-new-york.jpg")
    button.btn#grow Grow
  .row#row
    h2.subtitle First subtitle
    h3.subtitle Second subtitle
    ul#ul
      li List 1
      li List 2
      li List 3
