.container {
  background-color: #f4f7fA;
  color: #24282A;
  padding: 2rem;
  border-radius: 8px;
}

.row {
  padding: 2rem;
}

.img-container {
  position: relative;
  img {
    position: relative;
    width: 100%;
  }
}